<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <div class="loading">
         <span>ひ</span>
         <span>ら</span>
         <span>が</span>
         <span>な</span>
         <span>く</span>
         <span>い</span>
         <span>ず</span>
        </div>
        <h1>ひらがなくいず</h1>
        <%= link_to 'どうぶつ', animal_questions_path, class: 'btn btn-success btn-lg' %>
        <%= link_to 'たべもの', food_questions_path, class: 'btn btn-success btn-lg' %>
        <%= link_to 'のりもの', vehicle_questions_path, class: 'btn btn-success btn-lg' %>
      </div>
    </div>
  </div>
  
<% end %>


